{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

<div class="row">
    <div class="col-md-6">
        {{ form.query_term }}
    </div>
    <div class="col-md-6">
        {{ form.submit }}
    </div>
</div>